<launch>
    <node pkg="robot_jaka" type="robot_service.py" name="robot_service" output="screen">
    </node>
    <node pkg="vision" type="camera_calibrate_hand_eye" name="camera_calibrate_hand_eye" output="screen">
        <param name="base2Camera_calibration_url" value="$(find vision)/config/base2Camera_calibration.yaml"/>
        <param name="camera2End_calibration_url" value="$(find vision)/config/camera2End_calibration.yaml"/>
    </node>

</launch>